header {
    background: #438f00;
    color: #fff;
    font-weight: bold;
}

body {
    margin:0;
    padding:0;
    font-family:Courier, Courier New, Andele Mono;
    font-size:100%;
}
p {
    margin:0px;
    padding:0px;
}
a {
    color:#4fa800;
    text-decoration:underline;
}
a:hover {
    text-decoration:none;
}
img {
    padding:0;
    margin:0;
    line-height:0;
    vertical-align:baseline;
}
img.middle{
    vertical-align:text-top;
}
img.bottom{
    vertical-align:text-bottom;
}
img.top{
    vertical-align:top;
}
.header {
    background-color:#fff;
    color:#000;
    padding:15px;
    line-height:0;
}
.page-title {
    background-color:#c1d82f;
    background-repeat:repeat-x;
    background-position:left bottom;
    color:#000000;
    padding:14px 15px;
    font-size:140%;
    font-weight: bold;
}
.green{
    color:#438f00;
    display:block;
}
.menu {
    background-color:#ffffff;
    padding:30px 15px;
}
.menu a {
    background-color:#6abd1a;
    background-repeat:repeat-x;
    background-position:left bottom;
    text-align:center;
    width:95%;
    display:block;
    padding: 7px;
    color:#ffffff;
    margin-bottom:2px;
    font-size:120%;
    text-decoration:none;
    border-top:1px solid #a8dc4e;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.menu a:hover {
    text-decoration:underline;
}
.footer {
    background-color:#c1d82f;
    background-image:url(img/bgr_footer.gif);
    background-repeat:repeat-x;
    background-position:left top;
    padding:20px 0 15px 0;
}
p.lang {
    text-align:center;
}
p.lang a{
    color:#64a43a;
    text-decoration: none;
    padding:3px 2px;
    margin-right:17px;
    font-size:90%;
    font-weight:bold;
}
p.lang a:hover{
    text-decoration:underline;
}
p.lang a.active{
    color:#ffffff;
    background-color:#64a43a;
    cursor: text;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
p.lang a.active:hover{
    text-decoration:none;
}
p.txt{
    text-align:center;
    font-size:70%;
    margin-top:15px;
}
p.txt a{
    color:#ffffff;
}
input, label, select {
    margin:0 0 15px 0;
    padding:0;
}
input, select{
    color:#4c3c18;
    font-size:120%;
    font-family:Courier, Courier New;
}
label {
    font-weight:bold;
    font-size:90%;
    vertical-align:top;
}
label.simple{
    font-weight:normal;
    font-size:100%;
    vertical-align:top;
}
input{
    padding:2px 1px;
}
select{
    padding:1px;
}
input.radio {
    margin:0 3px 0 0;
}

table {
    border-collapse:separate;
    border-spacing:2px;
    width:100%;
}

table td {
    line-height:18px;
    padding:3px 5px 1px 3px;
    vertical-align:top;
}
table td span.fs-90{
    display:block;
}
table.root{
    border-spacing:0;
    border-collapse:collapse;
}
table.root td{
    padding:0;
}
span.error{
    color:#4fa800;
}
input.error{
    background-color:#ffebf0;
}
table.error{
    margin-top:5px;
}
table.error td{
    font-size:70%;
}
table.error td ul{
    list-style-type:none;
    margin:5px 0 0 0;
    padding: 0;
}
table.error td ul li{
    padding-bottom: 5px;
}
p.error{
    font-style: italic;
    color:#4fa800;
    font-size: 90%;
    padding:5px 0 3px 0;
}
p.center{
    text-align:center;
}
.red{
    color:#e91a4e;
    font-size:180%;
}
table.tarif b.red{
    font-size:80%;
}
.content {
padding: 12px;
    color:#424a52;
}
.content p{
    font-size: 100%;
}
.content-hdr {
color:#000000;
font-weight:bold;
padding:13px 0;
    text-transform:uppercase;
    font-size: 90%;
}
.form {
background:#f1f1f1;
font-size:100%;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    border-radius:9px;
    padding:10px 12px;
    line-height:140%;
}
.form p{
    margin-bottom:10px;
}
.btn-container {
margin:13px 0 24px 0;
text-align:left;
}
input{
padding:2px 1px;
}
select{
    padding:1px;
}
input.radio {
margin:0 3px 0 0;
}
input.btn-next {
    background-color:#2e8b57;
    background-image:url(img/bgr_btn-red.gif);
    background-repeat:repeat-x;
    background-position:left bottom;
-moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
color:#ffffff;
font-weight:bold;
    font-size:100%;
    border:0;
    margin:0;
    padding: 4px 15px 5px 15px;
    cursor: pointer;
}
.btn-back {
    background-color:#ec1c50;
    background-image:url(img/bgr_btn-red.gif);
    background-repeat:repeat-x;
    background-position:left bottom;
-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
color: #ffffff;
    font-weight: bold;
    font-size: 100%;
    border: 0;
    margin: 0;
    padding: 4px 15px 5px 15px;
    cursor: pointer;
}

a.btn-sbmt, a.btn-next, a.btn-back {
text-decoration: none;
}